alembic==1.7.4
anyio==3.3.4
apache-airflow==2.2.2
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-http==2.0.1
apache-airflow-providers-imap==2.0.1
apache-airflow-providers-sqlite==2.0.1
apispec==3.3.2
argcomplete==1.12.3
argon2-cffi==21.1.0
attrs==20.3.0
Babel==2.9.1
backcall==0.2.0
bleach==4.1.0
blinker==1.4
cached-property==1.5.2
cattrs==1.5.0
certifi==2020.12.5
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.7
click==8.0.3
clickclick==20.10.2
cloudpickle==2.0.0
colorama==0.4.4
colorlog==4.8.0
commonmark==0.9.1
connexion==2.7.0
croniter==1.0.15
cryptography==3.4.8
cycler==0.11.0
Cython==0.29.24
databricks-cli==0.16.2
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
dill==0.3.1.1
dnspython==2.1.0
docker==5.0.3
docutils==0.16
email-validator==1.1.3
entrypoints==0.3
Flask==1.1.2
Flask-AppBuilder==3.3.4
Flask-Babel==2.0.0
Flask-Caching==1.10.1
Flask-JWT-Extended==3.25.1
Flask-Login==0.4.1
Flask-OpenID==1.3.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
gitdb==4.0.9
GitPython==3.1.24
graphviz==0.18
greenlet==1.1.2
gunicorn==20.1.0
h11==0.12.0
httpcore==0.13.7
httpx==0.20.0
idna==3.3
importlib-metadata==4.8.2
importlib-resources==1.5.0
inflection==0.5.1
ipykernel==6.4.2
ipython==7.29.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
iso8601==1.0.0
isodate==0.6.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
joblib==1.1.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.0.6
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
kiwisolver==1.3.2
lazy-object-proxy==1.4.3
lockfile==0.12.2
Mako==1.1.5
Markdown==3.3.4
MarkupSafe==1.1.1
marshmallow==3.14.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
mistune==0.8.4
natsort==7.1.1
nbclient==0.5.4
nbconvert==6.2.0
nbformat==5.1.3
nest-asyncio==1.5.1
notebook==6.4.5
numpy==1.20.3
openapi-schema-validator==0.1.5
openapi-spec-validator==0.3.1
packaging==21.0
pandas==1.3.0
pandocfilters==1.5.0
parso==0.8.2
patsy==0.5.2
pendulum==2.1.2
pickleshare==0.7.5
Pillow==8.4.0
pmdarima==1.8.4
prison==0.2.1
prometheus-client==0.12.0
prometheus-flask-exporter==0.18.5
prompt-toolkit==3.0.21
protobuf==3.19.1
psutil==5.8.0
pycparser==2.21
Pygments==2.10.0
PyJWT==1.7.1
pyparsing==2.4.7
pyrsistent==0.18.0
python-daemon==2.3.0
python-dateutil==2.8.2
python-editor==1.0.4
python-nvd3==0.15.0
python-slugify==4.0.1
python3-openid==3.2.0
pytz==2021.3
pytzdata==2020.1
pywin32==227
pywinpty==1.1.5
PyYAML==5.4.1
pyzmq==22.3.0
qtconsole==5.1.1
QtPy==1.11.2
querystring-parser==1.2.4
requests==2.26.0
rfc3986==1.5.0
rich==10.13.0
scikit-learn==1.0
scipy==1.7.1
Send2Trash==1.8.0
setproctitle==1.2.2
six==1.16.0
smmap==5.0.0
sniffio==1.2.0
SQLAlchemy==1.3.24
SQLAlchemy-JSONField==1.0.0
SQLAlchemy-Utils==0.37.9
sqlparse==0.4.2
statsmodels==0.13.1
swagger-ui-bundle==0.0.9
tabulate==0.8.9
tenacity==8.0.1
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
text-unidecode==1.3
threadpoolctl==3.0.0
torch==1.10.0
torchaudio==0.10.0
torchvision==0.11.1
tornado==6.1
traitlets==5.1.1
typing-extensions==3.7.4.3
unicodecsv==0.14.1
urllib3==1.26.7
waitress==2.0.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.1
Werkzeug==1.0.1
widgetsnbextension==3.5.2
wincertstore==0.2
WTForms==2.3.3
zipp==3.6.0
